---
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import CallToAction from "@/partials/CallToAction.astro";
import Testimonial from "@/partials/Testimonial.astro";

const about = await getListPage("about", "-index");
const testimonial = await getListPage("testimonials", "testimonial");
if (about.data.draft) {
  return Astro.redirect("/404");
}
const { title, description, button, image, story, value, team, career } = about.data;
---

<Base {...about.data}>
  <section class="section bg-light">
    <div class="container">
      <div class="items-center justify-between row g-4 gy-5 xl:gy-0">
        <div class="lg:col-5">
          <h1 class="pb-4" data-aos="fade-up-sm" set:html={markdownify(title)} />
          <div data-aos="fade-up-sm" data-aos-delay="100">
            <p class="pb-6" set:html={markdownify(description)} />
            {
              button.enable && (
                <a href={button.link} class="btn btn-primary">
                  {button.label}
                </a>
              )
            }
          </div>
        </div>
        {
          image && (
            <div class="lg:col-6" data-aos="fade-left-sm" data-aos-delay="200">
              <ImageMod src={image} alt="Attila Krick" width={0} height={0} />
            </div>
          )
        }
      </div>
    </div>
  </section>

  <section class="pb-0 section">
    <div class="container">
      <div class="row g-4">
        {
          story.stats.map((s, i: number) => (
            <div class="sm:col-6 lg:col-4" data-aos="fade-right-sm" data-aos-delay={50 + i * 100}>
              <div class="h-full p-8 border border-border rounded-lg">
                <h2 class="pb-3 text-4xl text-center" set:html={markdownify(s.value)} />
                <p class="text-center text-text-light" set:html={markdownify(s.key)} />
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="flex flex-col lg:flex-row items-start justify-between">
        <div class="w-full lg:w-[40%] max-lg:mb-11" data-aos="fade-up-sm">
          <h2 set:html={markdownify(story.title)} />
        </div>
        <div class="w-full lg:w-[55%]">
          <p class="pb-8" data-aos="fade-up-sm" set:html={markdownify(story.content_1)} />
          <p data-aos="fade-up-sm" set:html={markdownify(story.content_2)} />
        </div>
      </div>
    </div>
  </section>

  <section class="section bg-primary">
    <div class="container">
      <div class="justify-between row g-4 gy-5">
        <div class="lg:col-4">
          <h3 class="pb-5 text-4xl text-white" data-aos="fade-up-sm" set:html={markdownify(value.title)} />
          <p class="text-light/50" data-aos="fade-up-sm" set:html={markdownify(value.content)} />
        </div>
        <div class="text-white lg:col-6">
          <div class="flex flex-col gap-7">
            {
              value.values.map((v, i) => (
                <div class="flex flex-col gap-5 pb-5 border-b-2 border-border/20" data-aos="fade-up-sm" data-aos-delay={50 + i * 100}>
                  <h3 class="text-2xl text-white" set:html={markdownify(v.title)} />
                  <p class="text-light/80" set:html={markdownify(v.content)} />
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-0 section">
    <div class="container">
      <div class="mb-10 xl:mb-14">
        <h2 class="pb-4 text-4xl text-center" data-aos="fade-up-sm" set:html={markdownify(team.title)} />
        <p class="text-center" data-aos="fade-up-sm" set:html={markdownify(team.content)} />
      </div>
      <div class="row g-4 justify-center">
        {
          team.members.map((m, i) => (
            <div class="sm:col-6 md:col-4 lg:col-3" data-aos="fade-up-sm" data-aos-delay={50 + i * 100}>
              <div class="p-4 pb-6 border border-border rounded-xl">
                <ImageMod src={m.image} alt={m.name} class="pb-3 rounded-inherit" width={0} height={0} format="webp" />
                <h3 class="pb-1 text-xl" set:html={m.name} />
                <p class="text-text-light" set:html={m.designation} />
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <section class="pb-0 mx-5 section">
    <div class="container">
      <div class="max-w-3xl mx-auto border border-border rounded-xl p-8 text-center">
        <h2 class="pb-4 text-4xl" data-aos="fade-up-sm" set:html={markdownify(career.title)} />
        <p data-aos="fade-up-sm" set:html={markdownify(career.content)} />
      </div>
    </div>
  </section>

  {
    testimonial.data.enable && (
      <section class="section pb-0">
        <div class="container">
          <div class="max-w-2xl mx-auto text-center pb-10">
            <h2 class="pb-4" data-aos="fade-up-sm" set:html={markdownify(testimonial.data.homepage_title)} />
            <p data-aos="fade-up-sm" data-aos-delay="100" set:html={markdownify(testimonial.data.content)} />
          </div>
          <Testimonial testimonials={testimonial.data.testimonials.slice(0, 3)} />
        </div>
      </section>
    )
  }

  <CallToAction />
</Base>
