---
import ImageMod from "@/components/ImageMod.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";

const sectionData = await getListPage("callToAction", "call-to-action");
if (!sectionData.data.enable) {
  return null;
}
const { title, button, description, image } = sectionData.data;
---

<section class="mx-4 overflow-hidden section">
  <div data-aos="fade-up" class="container px-8 py-12 text-white bg-primary rounded-xl lg:px-16 lg:py-16">
    <div class="items-center row gy-6 gx-5">
      <div class="lg:col-7">
        <h2 class="pb-4 text-white" data-aos="fade-up-sm" set:html={markdownify(title)} />
        <p data-aos="fade-up-sm" class="max-w-2xl pb-8 text-light/80" set:html={markdownify(description)} />
        {
          button.enable && (
            <div data-aos="fade-up-sm" class="w-fit block">
              <a href={button.link} class="z-10 btn btn-secondary">
                {button.label}
              </a>
            </div>
          )
        }
      </div>
      <div class="lg:col-5">
        <div class="overflow-hidden border rounded-xl border-white/15 bg-white/10">
          <ImageMod
            src={image}
            alt="Illustration zum naechsten Schritt"
            class="w-full aspect-[16/10] object-cover"
            width={640}
            height={400}
            format="webp"
          />
        </div>
      </div>
    </div>
  </div>
</section>
